include ./partials/header
form(ref='uploadForm', enctype='multipart/form-data' action="/news/add-news", method="post")
    input(type="text" name='title' placeholder="title")
    input(type="text" name='image' placeholder='image')
    input(type="text" name='desc' placeholder='description')
    <input type="file" name="sampleFile" />
    <input type='submit' value='Upload!' />
