include ./partials/header
h1 #{news.title}
form(action="/news/"+ news._id, method="post")
    input(type="text" name='title' value='' + news.title)
    input(type="text" name='image' value='' + news.image)
    input(type="text" name='desc' value='' + news.desc)
    button Confirm
    