include ./partials/header

.container
    h1 News pages
    a(href="/news/add-news") Add new news
    each val in news  
        .single_news
            h1 #{val.title}  
            img(src='' + val.image, alt="...")
            p #{val.desc}
            a(href="/news/" + val._id) more info

include ./partials/footer