include ./partials/header
.container
    h1 #{news.title}  
    img(src='' + news.image, alt="...")
    p #{news.desc}
    a(href="/news") go Home
    a(href="/news/" + news._id + '/edit') Edit 
    form(id="delete-form" action="/news/" + news._id + '?_method=DELETE', method="post")
        button Delete

